﻿@model MobileAppAndroid.Models.EmployeeDetailsModel

@{
    ViewBag.Title = "ViewMeetingDetails";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<div class="padding-md">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Meeting Details</div>
            <div class="panel-body">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Meeting Title</label>
                    @Html.TextBoxFor(model => model.ObjEmployeeMeetingDetailViewModel.MeetingTitle, new { @class = "form-control input-sm", @readonly = "readonly" })


                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Meeting Agenda</label>
                    @Html.TextBoxFor(model => model.ObjEmployeeMeetingDetailViewModel.Agenda, new { @class = "form-control input-sm", @readonly = "readonly" })


                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Meeting Venue</label>

                    @Html.TextBoxFor(model => model.ObjEmployeeMeetingDetailViewModel.Venue, new { @class = "form-control input-sm", @readonly = "readonly" })

                </div>

                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Meeting Date</label>
                    @Html.TextBoxFor(model => model.ObjEmployeeMeetingDetailViewModel.MeetingDate, new { @class = "datepicker form-control", @readonly = "readonly" })

                </div>

                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Meeting Time</label>
                    @Html.TextBoxFor(model => model.ObjEmployeeMeetingDetailViewModel.MeetingTime, new { @class = "form-control", @readonly = "readonly" })


                </div>
                <div class="clearfix"></div>

                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Attend Status</label>
                    @Html.DropDownList("AttendStaus", MobileAppAndroid.Utilities.MeetingAttendStatus(), new { @class = "form-control input-sm", @required = "required" })


                </div>




                <div class="divider"></div>
                <div class="clearfix"></div>

                <div class="text-right">
                    <input class="btn btn-success btn-sm" type="button" value="Save" onclick="SendStatus()" />
                    @Html.ActionLink("Back", "Index", "AddNewMeeting", null, new { @class = "btn btn-warning btn-sm" })
                    @* <a class="btn btn-warning btn-sm"><i class="fa fa-chevron-left"></i>Back</a>*@
                </div>



            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function SendStatus() {
        var SendStatus = $("#AttendStaus").val();
        alert(SendStatus);
    };
</script>




