﻿@model MobileAppAndroid.Models.MeetingDetailsMainModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="min-height: 486px;" class="content-wrapper">
    <section class="content">
        <section id="breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#">Menu</a></li>
                <li class="active">Meeting</li>
            </ol>
        </section>
        <div class="clearfix"></div>
        <div class="general-box">
            <div class="boxHeadingPanel">
                <h3>Meeting</h3>
            </div>
            <div class="col-md-12 margin-top15">
                <fieldset>
                    <legend></legend>
                    <div class="panel-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.Partial("VUC_Add");
            
   
                            <div class="btn-divider text-right">
                                <div class="save-btn">
                                    <input class="save" type="submit" value="Save" />
                                </div>
                                <div class="backtolist">
                                    @Html.ActionLink("Main Menu", "Index")
                                </div>
                            </div>

   
                        }
                    </div>

                </fieldset>

            </div>
        </div>
    </section>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



