﻿@model MobileAppAndroid.Models.MeetingDetailsMainModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<script src="~/Scripts/jquery.table2excel.js"></script>
<div class="container">
    <div onclick="ExportToExcel()" style="cursor: pointer;">Export To Excel</div>
    @if (Model.MeetingDetailsMainModelList.Count > 0)
    {
        <table class="table2excel" data-tableName="Test Table 1">
            <tr>
                <th>SN</th>
                <th>Meeting Date</th>
                <th>Agenda</th>
                <th>Title</th>
                <th>Time</th>
                <th>Venue</th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model.MeetingDetailsMainModelList)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.MeetingDate.ToShortDateString()</td>
                    <td>@item.Agenda</td>
                    <td>@item.MeetingTitle</td>
                    <td>@item.MeetingTime</td>
                    <td>@item.Venue</td>
                    <td onclick="ShowDetails(@item.MeetiingDetailsId)">View Detail</td>

                </tr>
                
                i++;

            }

        </table>
    }

    <div class="clearfix">
        <table id="EmployeesTable">
            <tr>
                <td style="color: green; width: 50px">Title</td>
                <td style="color: green; width: 50px">Venue</td>
                <td style="color: green; width: 50px">Agenda</td>
                <td style="color: green; width: 50px">Meeting Id</td>
            </tr>
            <table id="MeetingDetailsFromAjax">

            </table>

        </table>
    </div>
</div>
@section scripts{


    <script type="text/javascript">

        function ShowDetails(meetingId) {
            //var params = { userName: $(this).val() };
            //$("#EmployeesTable").remove();
            $("#MeetingDetailsFromAjax").html("");
            $.ajax({
                url: "MeetingDetailsMain/GetEmployeeListFromMeetingId",
                type: "get",
                data: { MeetingId: meetingId },
                success: function (data) {
                    if (data) {
                        var len = data.length;
                        var txt = "";
                        if (len > 0) {
                            for (var i = 0; i < len; i++) {
                                //alert(data[i].Agenda);
                                txt += "<tr><td>" + data[i].MeetingTitle + "</td><td>" + data[i].Venue + "</td>"
  + "<td>" + data[i].Agenda + "</td>" + "<td>" + data[i].MeetiingDetailsId + "</td></tr>";
                            }

                            if (txt != "") {

                                $("#MeetingDetailsFromAjax").append(txt);
                                // alert(txt);
                            }
                        }
                    }
                }
            });
        };
    </script>



    <script>

        function ExportToExcel() {
            $(".table2excel").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "MeetingDetails",
                fileext: ".xls",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });


        };

		</script>
}