﻿@model MobileAppAndroid.Models.MeetingDetailsMainModel

<div class="form-group row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.MeetingTitle)
        @Html.TextBoxFor(model => model.MeetingTitle, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.MeetingTitle)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.Agenda)
        @Html.TextBoxFor(model => model.Agenda, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.Agenda)
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.MeetingDate)
        @Html.TextBoxFor(model => model.MeetingDate, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.MeetingDate)
    </div>
</div>
<div class="form-group row">

    <div class="col-md-4">
        @Html.LabelFor(model => model.Venue)
        @Html.TextBoxFor(model => model.Venue, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.Venue)
    </div>
</div>
