﻿@model MobileAppAndroid.Models.OrganizationDetailsModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/css/endless.min.css" rel="stylesheet">
</head>

<body>
    <div class="login-wrapper">
        <div class="text-center">
            <h2 class="fadeInUp animation-delay10" style="font-weight: bold">
                <span class="text-success">Softech</span> <span style="color: #ccc; text-shadow: 0 1px #fff">Foundation</span>
            </h2>
        </div>
        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-plus-circle fa-lg"></i>Sign up
			
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = " " }))
                {
                    @Html.ValidationSummary(true)
                    <div class="panel-body">
                        <form class="form-login">
                            <div class="form-group">
                                <label>Organization Name</label>
                                @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control input-sm bounceIn animation-delay2", @required = "required" })

                            </div>
                            <!-- /form-group -->
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm bounceIn animation-delay2", @required = "required" })
                            </div>
                            <!-- /form-group -->
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control input-sm bounceIn animation-delay2", @required = "required" })
                            </div>
                            <!-- /form-group -->
                            <div class="form-group">
                                <label>Mobile</label>
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-sm bounceIn animation-delay2", @required = "required" })
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                @Html.TextBoxFor(m => m.PhNumber, new { @class = "form-control input-sm bounceIn animation-delay2", @required = "required" })
                            </div>
                            <!-- /form-group -->
                            <div class="form-group">
                                <label class="label-checkbox">
                                    <input type="checkbox" />
                                    <span class="custom-checkbox info bounceIn animation-delay6"></span>
                                    I accept the agreement.
						
                                </label>
                            </div>
                            <!-- /form-group -->

                            <div class="seperator"></div>
                            <div class="form-group">
                                <div class="controls">
                                    Already have an account? <a href="~/Account/Login" class="primary-font login-link">Sign In</a>
                                </div>
                            </div>
                            <!-- /form-group -->

                            <hr />
                            <div class="form-group">
                                <div class="controls text-right">
                                    <input class="btn btn-success btn-sm" type="submit" value="Save" />
                                    @*<a class="btn btn-success btn-sm bounceIn animation-delay7 login-link" href="login.html"><i class="fa fa-plus-circle"></i>Sign up</a>*@
                                </div>
                            </div>
                            <!-- /form-group -->
                        </form>
                    </div>
                }
            </div>
            <!-- /panel -->
        </div>
        <!-- /login-widget -->
    </div>
    <!-- /login-wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->
    <script src="~/js/jquery-1.10.2.min.js"></script>

    <!--Bootstrap-->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr -->
    <script src='~/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/js/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/js/jquery.slimscroll.min.js'></script>

    <!--Cookie-->
    <script src='~/js/jquery.cookie.min.js'></script>

    <!--Endless-->
    <script src="~/js/endless/endless.js"></script>
</body>
</html>
