﻿@model MobileAppAndroid.Models.OrganizationDetailsModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/css/endless.min.css" rel="stylesheet">
</head>

<body>
    <div class="login-wrapper">

        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
            </div>
            <!-- /panel -->
        </div>
        <!-- /login-widget -->
    </div>
    <!-- /login-wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->
    <script src="~/js/jquery-1.10.2.min.js"></script>

    <!--Bootstrap-->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr -->
    <script src='~/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/js/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/js/jquery.slimscroll.min.js'></script>

    <!--Cookie-->
    <script src='~/js/jquery.cookie.min.js'></script>

    <!--Endless-->
    <script src="~/js/endless/endless.js"></script>

    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

</body>


<script>
    $(document).ready(function () {
        var success = @((TempData["SuccessMessage"] != null).ToString().ToLower());
            if (success == true) 
            {

                displayToastr();
            }

        });

        function displayToastr() {
            //alert('yes');
            // Display a info toast, with no title
            toastr.options = {

                "positionClass": "toast-top-center"
            }

            //toastr.options = {
            //    "closeButton": false,
            //    "debug": false,
            //    "newestOnTop": false,
            //    "progressBar": false,
            //    "positionClass": "toast-top-center",
            //    "preventDuplicates": false,
            //    "onclick": null,
            //    "showDuration": "300",
            //    "hideDuration": "1000",
            //    "timeOut": "5000",
            //    "extendedTimeOut": "1000",
            //    "showEasing": "swing",
            //    "hideEasing": "linear",
            //    "showMethod": "fadeIn",
            //    "hideMethod": "fadeOut"
            //}

            toastr.info('Organization registration successfully saved.')

            //// Display a warning toast, with no title
            //toastr.warning('Softech Foundation, This the first warning for you!')

            //// Display a success toast, with a title
            //toastr.success('Softech Foudnation!', 'Congratulation for you, Mahedee!')

            //// Display an error toast, with a title
            //toastr.error('Softech Foundation', 'Please contact with system administrator.')
        };
</script>

</html>
