﻿@model MobileAppAndroid.Models.EmployeeDetailsModel

@{
    ViewBag.Title = "AssingEmployee";
    Layout = "~/Areas/AdminNew/Views/Shared/_Layout.cshtml";
}



<div class="padding-md">
    <div class="panel panel-default table-responsive">
        <div class="padding-md clearfix">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = " " }))
            {
                @Html.HiddenFor(m=>m.ObjEmployeeMeetingDetailViewModel.MeetiingDetailsId)
                @Html.ValidationSummary(true)


                for (int i = 0; i < Model.EmployeeCheckListVMList.Count; i++)
                {             
                                                  
                                                  
                <span style="margin-right: 3px; margin-bottom: 5px; display: inline-block; background: #F5F5F5; padding: 1px 5px; border: 1px solid #ddd; width: 250px;">
                    @Html.CheckBoxFor(model => Model.EmployeeCheckListVMList[i].IsChecked, new { @class = "custom-checkbox", name = "chk-demo" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.HiddenFor(model => Model.EmployeeCheckListVMList[i].EmployeeId)
                    @Html.DisplayFor(model => Model.EmployeeCheckListVMList[i].EmployeeName)
                </span>
                }
                <div class="divider"></div>
                <div class="clearfix"></div>
                <div class="text-right">
                    <input class="btn btn-success btn-sm" type="submit" value="Save" />
                    @Html.ActionLink("Back", "Index", "AddNewMeeting", null, new { @class = "btn btn-warning btn-sm" })
                    @*<a class="btn btn-warning btn-sm"><i class="fa fa-chevron-left"></i>Back</a>*@
                </div>

            }


        </div>
    </div>
</div>
