﻿@model MobileAppAndroid.Models.MeetingDetailsMainModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminNew/Views/Shared/_Layout.cshtml";
}

<link href="~/css/datepicker.css" rel="stylesheet" />
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />

<div class="padding-md">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Edit Meeting Description</div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = " " }))
                {
                    @Html.HiddenFor(m => m.MeetiingDetailsId)
                    @Html.ValidationSummary(true)
                    @Html.Partial("VUC_Add");
                    <div class="divider"></div>
                        
                    <div class="text-right">
                        <input class="btn btn-success btn-sm" type="submit" value="Edit" />
                        @Html.ActionLink("Back", "Index", "AddNewMeeting", null, new { @class = "btn btn-warning btn-sm" })
                    </div>
            
   
                }
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



