﻿@model MobileAppAndroid.Models.MeetingDetailsMainModel

@{
    ViewBag.Title = "ViewAssignEmployee";
    Layout = "~/Areas/AdminNew/Views/Shared/_Layout.cshtml";
    int i = 1;
}




<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>


<div class="padding-md">
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            Assign Employee Details
					
            <span class="label label-info pull-right">@Model.MeetingEmployeeDetailsForAdminVMList.Count() Employee</span>
        </div>
        <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>SN</th>                       
                        <th>Employee Name</th>
                        <th>Remarks</th>
                        <th>FeedBack</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MeetingEmployeeDetailsForAdminVMList.Any())
                    {
                        foreach (var item in Model.MeetingEmployeeDetailsForAdminVMList)
                        {
                        <tr>
                            <td>@i</td>
                            <td>@item.EmployeeName</td>
                            <td>@item.Remarks</td>
                            <td>@item.FeedBack</td>


                        </tr>
                            i++;
                        }
                    }

                </tbody>
            </table>
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /panel -->
</div>
<!-- /.padding-md -->

<script>
    $(document).ready(function () {
        var success = @((TempData["SuccessMessage"] != null).ToString().ToLower());

        if (success == true) 
        {
            displayToastr();
        }

    });

    function displayToastr() {
        //alert('yes');
        // Display a info toast, with no title
        toastr.options = {

            "positionClass": "toast-top-center"
        }

        //toastr.options = {
        //    "closeButton": false,
        //    "debug": false,
        //    "newestOnTop": false,
        //    "progressBar": false,
        //    "positionClass": "toast-top-center",
        //    "preventDuplicates": false,
        //    "onclick": null,
        //    "showDuration": "300",
        //    "hideDuration": "1000",
        //    "timeOut": "5000",
        //    "extendedTimeOut": "1000",
        //    "showEasing": "swing",
        //    "hideEasing": "linear",
        //    "showMethod": "fadeIn",
        //    "hideMethod": "fadeOut"
        //}
        var Message = '@TempData["SuccessMessage"]';
        toastr.success(Message)

        //// Display a warning toast, with no title
        //toastr.warning('Softech Foundation, This the first warning for you!')

        //// Display a success toast, with a title
        //toastr.success('Softech Foudnation!', 'Congratulation for you, Mahedee!')

        //// Display an error toast, with a title
        //toastr.error('Softech Foundation', 'Please contact with system administrator.')
    };
</script>
