﻿@model MobileAppAndroid.Models.MeetingDetailsMainModel

<div class="form-group">
    <label for="exampleInputEmail1">Meeting Title</label>
    @Html.TextBoxFor(model => model.MeetingTitle, new { @class = "form-control input-sm", @placeholder = "Enter Meeting Title", @required = "required" })
    @Html.ValidationMessageFor(model => model.MeetingTitle)

</div>

<div class="form-group col-md-6">
    <label for="exampleInputEmail1">Meeting Agenda</label>
    @Html.TextBoxFor(model => model.Agenda, new { @class = "form-control input-sm", @placeholder = "Enter Agenda", @required = "required" })
    @Html.ValidationMessageFor(model => model.Agenda)

</div>

<div class="form-group col-md-6">
    <label for="exampleInputEmail1">Meeting Venue</label>
    @Html.TextBoxFor(model => model.Venue, new { @class = "form-control input-sm", @placeholder = "Enter Venue", @required = "required" })
    @Html.ValidationMessageFor(model => model.Venue)

</div>

<div class="form-group col-md-6">
    <label for="exampleInputEmail1">Meeting Date</label>
    @Html.TextBoxFor(model => model.ObjReturnMeetingDetailsAdminViewModel.MeetingDate, new { @class = "datepicker form-control", @required = "required",@readonly="readonly" })
    @Html.ValidationMessageFor(model => model.MeetingDate)

</div>

<div class="form-group col-md-6 input-group bootstrap-timepicker">
    <label for="exampleInputEmail1">Meeting Time</label>
    @Html.TextBoxFor(model => model.MeetiingDetailsIdStr, new { @class = "form-control", @readonly = "readonly", @id = "Meetingtime" })
    @Html.ValidationMessageFor(model => model.MeetiingDetailsIdStr)

</div>

@*  <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker2" type="text" class="form-control input-small">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
            </span>
        </div>*@

<script type="text/javascript">
    $('#Meetingtime').timepicker({
        minuteStep: 1,
        template: 'dropdown',
        showSeconds: true,
        showMeridian: false,
        defaultTime: 'current'
    });

    $('.datepicker').datepicker({
        format: 'yyyy/mm/dd',
        "setDate": new Date(),
        "autoclose": true

    });
</script>

<div class="clearfix"></div>
@*<div class="form-group">
    <label class="col-lg-2 control-label">Date Picker</label>
    <div class="col-lg-10">
        <div class="input-group">
            <input type="text" value="06/10/2013" class="datepicker form-control">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <!-- /.col -->
</div>*@
<!-- /form-group -->
@*<div class="form-group">
    <label class="col-lg-2 control-label">Time Picker</label>
    <div class="col-lg-10">
        <div class="input-group bootstrap-timepicker">
            <input class="timepicker form-control" type="text" />
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
        </div>
    </div>
    <!-- /.col -->
</div>*@
<!-- /form-group -->



















