﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Softech Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 

    <!-- Bootstrap core CSS -->
   
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Pace -->
    <link href="~/css/pace.css" rel="stylesheet" />

    <link href="~/css/fullcalendar.css" rel="stylesheet">
    <!-- Endless -->
    <link href="~/css/endless.min.css" rel="stylesheet" />

    <link href="~/css/endless-skin.css" rel="stylesheet" />

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->
    <script src="~/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- Chosen -->
	<script src='~/js/chosen.jquery.min.js'></script>	

    <!-- Mask-input -->
	<script src='~/js/jquery.maskedinput.min.js'></script>	

    <!-- Datepicker -->
	<script src='~/js/bootstrap-datepicker.min.js'></script>	

	<!-- Timepicker -->
	<script src='~/js/bootstrap-timepicker.min.js'></script>	

    	
	<!-- Slider -->
	<script src='~/js/bootstrap-slider.min.js'></script>	

    <script src='~/js/jquery.tagsinput.min.js'></script>
    
	<!-- WYSIHTML5 -->
	<script src='~/js/wysihtml5-0.3.0.min.js'></script>	
	<script src='~/js/uncompressed/bootstrap-wysihtml5.js'></script>		

    <!-- Modernizr -->
    <script src='~/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/js/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/js/jquery.cookie.min.js'></script>

    <!-- Endless -->
   
    <script src="~/js/endless/endless_form.js"></script>

    <script src="~/js/endless/endless.js"></script>


</head>
<body class="overflow-hidden">
    <!-- Overlay Div -->
    <div id="overlay" class="transparent"></div>

    <a href="" id="theme-setting-icon"><i class="fa fa-cog fa-lg"></i></a>
    <div id="theme-setting">
        <div class="title">
            <strong class="no-margin">Skin Color</strong>
        </div>
        <div class="theme-box">
            <a class="theme-color" style="background: #323447" id="default"></a>
            <a class="theme-color" style="background: #efefef" id="skin-1"></a>
            <a class="theme-color" style="background: #a93922" id="skin-2"></a>
            <a class="theme-color" style="background: #3e6b96" id="skin-3"></a>
            <a class="theme-color" style="background: #635247" id="skin-4"></a>
            <a class="theme-color" style="background: #3a3a3a" id="skin-5"></a>
            <a class="theme-color" style="background: #495B6C" id="skin-6"></a>
        </div>
        <div class="title">
            <strong class="no-margin">Sidebar Menu</strong>
        </div>
        <div class="theme-box">
            <label class="label-checkbox">
                <input type="checkbox" checked id="fixedSidebar">
                <span class="custom-checkbox"></span>
                Fixed Sidebar
		
            </label>
        </div>
    </div>
    <!-- /theme-setting -->
    <div id="wrapper" class="preload">
        @Html.Partial("_LayoutHeaderMainAdmin");
         @Html.Partial("_LayoutLeftMenuAdmin");

        <div id="main-container">
            @RenderBody()
            
        </div>

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
