﻿<aside class="fixed skin-6">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="btn btn-sm pull-right logoutConfirm_open" href="#logoutConfirm">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
        <!-- /size-toggle -->
        <div class="user-block clearfix">
            <img src="~/img/user.jpg" alt="User Avatar">
            <div class="detail">
                <strong>@User.Identity.Name</strong><span class="badge badge-danger m-left-xs bounceIn animation-delay4">4</span>
                <ul class="list-inline">
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="inbox.html" class="no-margin">Inbox</a></li>
                </ul>
            </div>
        </div>
        <!-- /user-block -->
        @*  <div class="search-block">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="search here...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
            <!-- /input-group -->
        </div>*@
        <!-- /search-block -->
        <div class="main-menu">
            <ul>
                <li class="active">
                    <a href="~/AdminNew/AdminHome/Dashboard">
                        <span class="menu-icon">
                            <i class="fa fa-desktop fa-lg"></i>
                        </span>
                        <span class="text">Dashboard
								</span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li class="openable open">
                    <a href="#">
                        <span class="menu-icon">
                            <i class="fa fa-file-text fa-lg"></i>
                        </span>
                        <span class="text">Setup
								</span>
                        <span class="menu-hover"></span>
                    </a>
                    <ul class="submenu">
                        <li>@Html.ActionLink("Department Setup", "Index", "SetupDepartments")</li>
                        <li>@Html.ActionLink("Employee", "Index", "NewEmployee")</li>
                        <li>@Html.ActionLink("Meeting", "Index", "AddNewMeeting")</li>
                        <li>@Html.ActionLink("Organization", "Index", "OrganizationApprove")</li>
                        <li>@Html.ActionLink("Calendar", "ShowCalendar", "AdminHome")</li>

                        @*  <li>@Html.ActionLink("Up Coming Meeting", "Index", "UpComingMeeting")</li>
                        <li>@Html.ActionLink("Meeting Details", "Index", "MeetingRecords")</li>
                        <li>@Html.ActionLink("Create User", "Index", "UserRegistration")</li>*@
                    </ul>
                </li>




            </ul>

            <div class="alert alert-info">
                Softech Foundation Pvt. Ltd
				
            </div>
        </div>
        <!-- /main-menu -->
    </div>
    <!-- /sidebar-inner -->
</aside>
