﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Softech Foundation</title>
    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <!-- Pace -->
    <link href="~/css/pace.css" rel="stylesheet">

    <!-- Chosen -->
    <link href="~/css/chosen/chosen.min.css" rel="stylesheet" />

    <!-- Datepicker -->
    <link href="~/css/datepicker.css" rel="stylesheet" />

    <!-- Timepicker -->
    <link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />

    <!-- Slider -->
    <link href="~/css/slider.css" rel="stylesheet" />

    <!-- Tag input -->
    <link href="~/css/jquery.tagsinput.css" rel="stylesheet" />

    <!-- WYSIHTML5 -->
    <link href="~/css/bootstrap-wysihtml5.css" rel="stylesheet" />

    <!-- Dropzone -->
    <link href='~/css/dropzone/dropzone.css' rel="stylesheet" />

    <!-- Endless -->
    <link href="~/css/endless.min.css" rel="stylesheet">
    <link href="~/css/endless-skin.css" rel="stylesheet">
</head>
<body>


    @RenderBody()
    <hr />
    <div class="clearfix"></div>
   @* <footer>
        <p>&copy; @DateTime.Now.Year - Softech Foundation Private Limited</p>
    </footer>*@


    @RenderSection("scripts", required: false)






    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->
    <script src="~/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Chosen -->
    <script src='~/js/chosen.jquery.min.js'></script>

    <!-- Mask-input -->
    <script src='~/js/jquery.maskedinput.min.js'></script>

    <!-- Datepicker -->
    <script src='~/js/bootstrap-datepicker.min.js'></script>

    <!-- Timepicker -->
    <script src='~/js/bootstrap-timepicker.min.js'></script>

    <!-- Slider -->
    <script src='~/js/bootstrap-slider.min.js'></script>

    <!-- Tag input -->
    <script src='~/js/jquery.tagsinput.min.js'></script>

    <!-- WYSIHTML5 -->
    <script src='~/js/wysihtml5-0.3.0.min.js'></script>
    <script src='~/js/uncompressed/bootstrap-wysihtml5.js'></script>

    <!-- Dropzone -->
    <script src='~/js/dropzone.min.js'></script>

    <!-- Modernizr -->
    <script src='~/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/js/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/js/jquery.cookie.min.js'></script>

    <!-- Endless -->
    <script src="~/js/endless/endless_form.js"></script>
    <script src="~/js/endless/endless.js"></script>
    <script src='~/js/bootstrap-slider.min.js'></script>

    <!-- Tag input -->
    <script src='~/js/jquery.tagsinput.min.js'></script>

    <!-- WYSIHTML5 -->
    <script src='~/js/wysihtml5-0.3.0.min.js'></script>
    <script src='~/js/uncompressed/bootstrap-wysihtml5.js'></script>

    <!-- Dropzone -->
    <script src='~/js/dropzone.min.js'></script>

    <!-- Modernizr -->
    <script src='~/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/js/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/js/jquery.cookie.min.js'></script>

    <!-- Endless -->
    <script src="~/js/endless/endless_form.js"></script>
    <script src="~/js/endless/endless.js"></script>





</body>
</html>
