﻿@{
    ViewBag.Title = "Home Page";
}
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/kendo.common-material.min.css" rel="stylesheet" />
<script src="~/Scripts/kendo.all.min.js"></script>
<link href="~/Content/kendo.message.css" rel="stylesheet" />
<link href="~/Content/kendo.rtl.min.css" rel="stylesheet" />*@
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/printThis.js"></script>


@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}*@


<body>


    @*<div id="div_to_print">
        <h4>I love printThis jQuery plugin!!!</h4>
        <p class="print_this" style="display: none;">Print this</p>
    </div>
    <button type="button" id="print_btn">Print</button>*@

    <script>
        $(document).ready(function () {

            //displayToastr();

        });

        function displayToastr() {
            //alert('yes');
            // Display a info toast, with no title
            toastr.options = {

                "positionClass": "toast-top-center"
            }

            //toastr.options = {
            //    "closeButton": false,
            //    "debug": false,
            //    "newestOnTop": false,
            //    "progressBar": false,
            //    "positionClass": "toast-top-center",
            //    "preventDuplicates": false,
            //    "onclick": null,
            //    "showDuration": "300",
            //    "hideDuration": "1000",
            //    "timeOut": "5000",
            //    "extendedTimeOut": "1000",
            //    "showEasing": "swing",
            //    "hideEasing": "linear",
            //    "showMethod": "fadeIn",
            //    "hideMethod": "fadeOut"
            //}

            toastr.info('Softech Foundation, This information for you.')

            //// Display a warning toast, with no title
            //toastr.warning('Softech Foundation, This the first warning for you!')

            //// Display a success toast, with a title
            //toastr.success('Softech Foudnation!', 'Congratulation for you, Mahedee!')

            //// Display an error toast, with a title
            //toastr.error('Softech Foundation', 'Please contact with system administrator.')
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $('button#print_btn').on('click', function (e) {
                $('#div_to_print').printThis({
                    styles: ['style.css']
                    // also accept array input: include: [<array>]
                    // you can specify id, class or even html element tag
                });
            });
        });
    </script>


</body>


