﻿@model MobileAppAndroid.Models.HomeViewModle
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
    int j = 1;
    
    
}
<style>
    #landing-content {
    min-height: 800px;
    padding-top: 123px !important;
}
</style>

<link href="~/css/endless-landing.min.css" rel="stylesheet" />
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
<div id="wrapper" class="preload">
    <header class="navbar navbar-fixed-top bg-white">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div>
                  <img src="~/Images/bigicon.png" width="120px" height="120px" />
                 @* <a href="#" class="navbar-brand"><span class="text-danger">Meeting</span> &nbsp;Scheduler
                       

                    </a>*@
                </div>
                 <div class="clearfix"></div>
            </div>
           
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="~/OrganizationMaind/RegisterOrganization" class="top-link">Registration</a>
                    </li>
                    <li>
                        <a href="#landing-content" class="top-link">Home</a>
                    </li>

                    <li>
                        <a href="#contact" class="top-link">Contact us</a>
                    </li>

                    <li>
                        <a href="~/Account/login" class="top-link">Log In</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div id="landing-content">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-stat1 bg-success">
                    <div class="panel-body">
                        <div class="value">1</div>
                        <div class="title">

                            <span class="m-left-xs">Organization</span>
                        </div>
                    </div>
                </div>
                <!-- /panel -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-stat2 bg-warning">
                    <div class="panel-body">
                        <span class="stat-icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </span>
                        <div class="pull-right text-right">
                            <div class="value">@Model.MeetingDetailsVMHomeList.Count()</div>
                            <div class="title">Total Meeting</div>
                        </div>
                    </div>
                </div>
                <!-- /panel -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default panel-stat2 bg-info">
                    <div class="panel-body">
                        <span class="stat-icon">
                            <i class="fa fa-user fa-lg"></i>
                        </span>
                        <div class="pull-right text-right">
                            <div class="value">@Model.EmployeeDetailsVMHomeList.Count()</div>
                            <div class="title">Total Employee</div>
                        </div>
                    </div>
                </div>
                <!-- /panel -->
            </div>
            <!-- /.col -->
        </div>

        <div id="feature" class="bg-light padding-md">
            <div class="padding-md">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Employee Details						
                            </div>

                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Name</th>
                                        @*<th>Device Id</th>*@
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.EmployeeDetailsVMHomeList)
                                {
                                    <tr>
                                        <td>@item.EmployeeId</td>
                                        <td>@item.Name</td>
                                        @*<td>@item.DeviceId</td>*@
                                        <td>@item.Email</td>
                                        <td></td>

                                    </tr>
                                }


                            </table>
                        </div>
                        <!-- /panel -->
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Meeting Details						
                            </div>

                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>Title</th>
                                        <th>Meeting Date</th>
                                        <th>Total Employee</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.MeetingDetailsVMHomeList)
                                {
                                    <tr>
                                        <td>@item.MeetingId</td>
                                        <td>@item.MeetingTitle</td>
                                        <td>@item.MeetingDate.ToShortDateString()</td>
                                        <td>@MobileAppAndroid.Utilities.TotalAssignEmployeeInMeeting(item.MeetingId)</td>
                                        <td></td>

                                    </tr>
                                }


                            </table>
                        </div>
                        <!-- /panel -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- /panel -->

                <!-- /panel -->
            </div>
            <!-- /.padding-md -->
        </div>
        <!-- /main-container -->





        <!-- /form-group -->


        <!-- /form-group -->


    </div>
    <!-- /landing-content -->

    <footer style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">About Our Company</p>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor suscipit lobortis.</small></p>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">Useful Links</p>
                    <ul class="list-unstyled useful-link">
                        <li>
                            <a href="#">
                                <small><i class="fa fa-chevron-right"></i>Our Profile</small>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <small><i class="fa fa-chevron-right"></i>New Products</small>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <small><i class="fa fa-chevron-right"></i>Support Portal</small>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">Stay Connect</p>
                    <a href="#" class="social-connect tooltip-test facebook-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-connect tooltip-test twitter-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-connect tooltip-test google-plus-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-connect tooltip-test rss-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Rss feed"><i class="fa fa-rss"></i></a>
                    <a href="#" class="social-connect tooltip-test tumblr-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Tumblr"><i class="fa fa-tumblr"></i></a>
                    <a href="#" class="social-connect tooltip-test dribbble-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="social-connect tooltip-test linkedin-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-connect tooltip-test pinterest-hover pull-left" data-toggle="tooltip" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 padding-md">
                    <p class="font-lg">Contact Us</p>
                    Email : softech@gmail.com
                    <div class="seperator"></div>
                    <a class="btn btn-info"><i class="fa fa-envelope"></i>Contact support</a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </footer>
</div>
<!-- /wrapper -->





