﻿@model MobileAppAndroid.Models.EmployeeDetailsModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AdminNew/Views/Shared/_Layout.cshtml";
}

<div class="padding-md">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Create New Department</div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = " " }))
                {
                    @Html.ValidationSummary(true)
                    @Html.Partial("VUC_Add");
                    <div class="divider"></div>
                        
                    <div class="text-right">
                        <input class="btn btn-success btn-sm" type="submit" value="Save" />
                        @Html.ActionLink("Back", "Index", "NewEmployee", null, new { @class = "btn btn-warning btn-sm" })
                        @* <a class="btn btn-warning btn-sm"><i class="fa fa-chevron-left"></i>Back</a>*@
                    </div>
            
   
                }
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


