﻿@model MobileAppAndroid.Models.EmployeeDetailsModel

<div class="form-group">
    <label for="exampleInputEmail1">Employee Name</label>
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm", @placeholder = "Enter Employee Name", @required = "required" })
    @Html.ValidationMessageFor(model => model.Name)

</div>

<div class="form-group">
    <label for="exampleInputEmail1">Employee Email</label>
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", @placeholder = "Enter Email Name", @required = "required" })
    @Html.ValidationMessageFor(model => model.Email)

</div>

<div class="form-group">
    <label for="exampleInputEmail1">Employee OrganizationId</label>
    @Html.TextBoxFor(model => model.OrganizationId, new { @class = "form-control input-sm", @placeholder = "Enter Email Name", @required = "required" })
    @Html.ValidationMessageFor(model => model.OrganizationId)

</div>
<div class="form-group">
    <label for="exampleInputEmail1">Employee Department Id</label>
    @Html.DropDownListFor(model => model.DepartmentId,MobileAppAndroid.Utilities.GetDepartment(), new { @class = "form-control input-sm", @required = "required" })
    @Html.ValidationMessageFor(model => model.DepartmentId)

</div>



















