﻿@model MobileAppAndroid.Models.DepartmentDetailsModel

<div class="form-group">
    <label for="exampleInputEmail1">Department Name</label>
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm", @placeholder = "Enter Department Name", @required = "required" })
    @Html.ValidationMessageFor(model => model.Name)

</div>
















