﻿@model MobileAppAndroid.Models.LoginModel
@{
    ViewBag.Title = "Log In";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/css/endless.min.css" rel="stylesheet">
</head>

<body>
    <div class="clearfix"></div>

    <div class="login-wrapper">
        <div class="text-center">
            <h4 class="fadeInUp animation-delay8" style="font-weight: bold">
                <span class="text-success">Softech Foundation</span> <span style="color: #ccc; text-shadow: 0 1px #fff">Private Limited</span>
            </h4>
        </div>
        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <i class="fa fa-lock fa-lg"></i>&nbsp;Login
				
                    </div>

                  @*  <div class="pull-right">
                        <span style="font-size: 11px;">Don't have any account?</span>
                        <a class="btn btn-default btn-xs login-link" href="register.html" style="margin-top: -2px;"><i class="fa fa-plus-circle"></i>Sign up</a>
                    </div>*@
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-login" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                   
                        <div class="form-group">
                            <label>Username</label>
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username", @class = "form-control input-sm bounceIn animation-delay2" })
                            @Html.ValidationMessageFor(m => m.UserName)

                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control input-sm bounceIn animation-delay4" })
                            @Html.ValidationMessageFor(m => m.Password)

                        </div>@*
                        <div class="form-group">
                            <label class="label-checkbox inline">
                                <input type="checkbox" class="regular-checkbox chk-delete" />
                                <span class="custom-checkbox info bounceIn animation-delay4"></span>
                            </label>
                            Remember me		
					
                        </div>*@

                        <div class="seperator"></div>
                        <div class="form-group">
                            Forgot your password?<br />
                            Click <a href="#">here</a> to reset your password
					
                        </div>

                        <hr />

                        
                        
                        <button type="submit" class=""><i class="fa fa-sign-in"></i>&nbsp;Sign in</button>
                            
                       
                    }




                </div>
            </div>
            <!-- /panel -->
        </div>
        <!-- /login-widget -->
    </div>
    <!-- /login-wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Jquery -->

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->

    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr -->

    <script src="~/js/modernizr.min.js"></script>
    <!-- Pace -->

    <script src="~/js/pace.min.js"></script>
    <!-- Popup Overlay -->

    <script src="~/js/jquery.popupoverlay.min.js"></script>
    <!-- Slimscroll -->

    <script src="~/js/jquery.slimscroll.min.js"></script>
    <!-- Cookie -->

    <script src="~/js/jquery.cookie.min.js"></script>

    <!-- Endless -->

    <script src="~/js/endless/endless.js"></script>
</body>
</html>
