﻿@model MobileAppAndroid.Models.EmployeeDetailsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (Model.EmployeeDetailsModelList.Count > 0)
    {
        
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Organization</th>
                <th>UserType</th>
            </tr>
            @foreach (var item in Model.EmployeeDetailsModelList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.OrganizationId</td>
                    <td>@item.UserType</td>
                </tr>
            }

        </table>
    }

</div>
