﻿@model MobileAppAndroid.Models.DepartmentDetailsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/kendo.all.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2016.3.1118/kendo.common-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2016.3.1118/kendo.bootstrap.min.css" rel="stylesheet" />
<div class="container">

    @if (Model.DepartmentDetailsModelList.Count > 0)
    {
        <table>
            <tr>
                <th></th>
                <th></th>

            </tr>

            @foreach (var item in Model.DepartmentDetailsModelList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.OrganizationId</td>
                </tr>

            }

        </table>
    }


    <input id="mp" />

</div>


<script type="text/javascript">
    $(document).ready(function () {

        //create AutoComplete UI component
        $("#mp").kendoAutoComplete({
            dataTextField: "Name",
            filter: "startswith",
            minLength: 3,
            dataSource: {

                transport: {
                    read: "/DepartmentMain/GetMP",
                    type: "json"
                }
            }
        });

    })
</script>
