﻿@model MobileAppAndroid.Areas.Admin.Models.AdminHomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <button id="btn-all">Get all Meeting</button>
    <button id="btn">Get Meeting</button>
    <button id="btn-delete">Delete Meeting</button>
    @Html.DropDownList("MeetingId", Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString() }))
    <div id="result"></div>
</div>

<script>
    $(function () {
        $('#btn-all').on('click', function () {
            $.get('/api/MeetingDetails', function (data) {
                $('#result').empty();
                $.each(data, function (i, v) {
                    $('#result').html($('#result').html() + v.MeetingTitle + '<br />');
                });
            }, 'json');
        });

        $('#btn').on('click', function () {
            $.get('/api/EmployeeAPI', function (data) {
                $('#result').empty();
                $.each(data, function (i, v) {
                    $('#result').html($('#result').html() + v.Name + '<br />');
                });
            }, 'json');
        });


        $('#btn-allone').on('click', function () {
            $.get('/api/MeetingDetails/' + $('#MeetingId').val(), function (data) {
                $('#result').empty()
                $('#result').html(data.Title +
                    '<br />' + data.Genre +
                    '<br />' + data.ReleaseDate);
            }, 'json');
        });
        $('#btn-delete').on('click', function () {
            $.ajax({
                type: 'Delete',
                url: '/api/MeetingDetails?id=' + $('#MovieId').val()
            });
        });
    });
</script>
