﻿@{
    ViewBag.Title = "ShowCalendar";
    Layout = "~/Areas/AdminNew/Views/Shared/_Layout.cshtml";
}

<script src="~/js/fullcalendar.min.js"></script>


<div class="padding-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-calendar fa-lg"></i>Calendar       
        </div>
        <div class="panel-body">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<script>
    $(function () {

        // Full calendar
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
            selectHelper: true,
            //select: function (start, end, allDay) {
            //    var title = prompt('Event Title:');
            //    if (title) {
            //        calendar.fullCalendar('renderEvent',
            //            {
            //                title: title,
            //                start: start,
            //                end: end,
            //                allDay: allDay
            //            },
            //            true // make the event "stick"
            //        );
            //    }
            //    calendar.fullCalendar('unselect');
            //},
            //editable: true,
            events:
                {
                    url: "/AdminHome/ListMeetingForCalendar"
                }

        });
    });
</script>
