﻿@model MobileAppAndroid.Models.OrganizationDetailsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminNew/Views/Shared/_Layout.cshtml";
    int i = 1;
}


<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<div id="dialog-alert" style="display: none">
    <p>
        @TempData["msg"]!
    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>


<div class="padding-md">
    <div class="divider text-right">
        @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
    </div>


    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            Organization Setup
					
            <span class="label label-info pull-right">@Model.OrganizationDetailsModelList.Count() Organizations</span>
        </div>
        <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Organization Name</th>
                        <th>Address</th>
                        <th>Mobile Number</th>
                        <th>Email</th>
                        <th>Approve Status</th>


                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrganizationDetailsModelList.Any())
                    {
                        foreach (var item in Model.OrganizationDetailsModelList)
                        {
                        <tr>
                            <td>@i</td>
                            <td>@item.OrganizationName</td>
                            <td>@item.Address</td>
                            <td>@item.Mobile</td>
                            <td>@item.EmailId</td>
                            <td>@item.Status</td>

                            <td>
                                @if (item.Status == 1 || item.Status == 3)
                                {
                                    <a title="Edit" class="fa fa-edit fa-lg" href="@Url.Action("ApproveOrRejection", "OrganizationApprove", new { id = item.Id, id2 = 2 })">Approve</a>
                                }
                                else
                                {
                                    <a title="Edit" class="fa fa-edit fa-lg" href="@Url.Action("ApproveOrRejection", "OrganizationApprove", new { id = item.Id, id2 = 3 })">Reject</a>
                                }

                                ||

                                <a title="Edit" class="fa fa-edit fa-lg" href="@Url.Action("Edit", "OrganizationApprove", new { id = item.Id })">Edit</a> ||
                                 <a title="Delete" class="fa fa-minus-circle fa-lg" href="@Url.Action("Delete", "OrganizationApprove", new { id = item.Id })" onclick="return confirm('Are you sure you wish to delete?');">Delete</a>


                            </td>
                        </tr>
                                i++;
                        }
                    }

                </tbody>
            </table>
        </div>
        <!-- /.padding-md -->
    </div>
    <!-- /panel -->
</div>
<!-- /.padding-md -->

<script>
    $(document).ready(function () {
        var success = @((TempData["SuccessMessage"] != null).ToString().ToLower());
        if (success == true) 
        {

            displayToastr();
        }

    });

    function displayToastr() {
        //alert('yes');
        // Display a info toast, with no title
        toastr.options = {

            "positionClass": "toast-top-center"
        }

        //toastr.options = {
        //    "closeButton": false,
        //    "debug": false,
        //    "newestOnTop": false,
        //    "progressBar": false,
        //    "positionClass": "toast-top-center",
        //    "preventDuplicates": false,
        //    "onclick": null,
        //    "showDuration": "300",
        //    "hideDuration": "1000",
        //    "timeOut": "5000",
        //    "extendedTimeOut": "1000",
        //    "showEasing": "swing",
        //    "hideEasing": "linear",
        //    "showMethod": "fadeIn",
        //    "hideMethod": "fadeOut"
        //}

        toastr.success('Changed save successfully.')

        //// Display a warning toast, with no title
        //toastr.warning('Softech Foundation, This the first warning for you!')

        //// Display a success toast, with a title
        //toastr.success('Softech Foudnation!', 'Congratulation for you, Mahedee!')

        //// Display an error toast, with a title
        //toastr.error('Softech Foundation', 'Please contact with system administrator.')
    };
</script>
