﻿@model MobileAppAndroid.Models.OrganizationDetailsModel

<div class="form-group">
    <label for="exampleInputEmail1">Organization Name</label>
    @Html.TextBoxFor(model => model.OrganizationName, new { @class = "form-control input-sm", @placeholder = "Enter Organization Name", @required = "required" })
    @Html.ValidationMessageFor(model => model.OrganizationName)

</div>

<div class="form-group col-md-6">
    <label for="exampleInputEmail1">Address</label>
    @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-sm", @placeholder = "Enter Address", @required = "required" })
    @Html.ValidationMessageFor(model => model.Address)

</div>

<div class="form-group col-md-6">
    <label for="exampleInputEmail1">Mobile</label>
    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control input-sm", @placeholder = "Enter Mobile", @required = "required" })
    @Html.ValidationMessageFor(model => model.Mobile)

</div>

<div class="form-group col-md-6">
    <label for="exampleInputEmail1">phone Nunber</label>
    @Html.TextBoxFor(model => model.PhNumber, new { @class = "form-control input-sm", @placeholder = "Enter Phone Number", @required = "required" })
    @Html.ValidationMessageFor(model => model.PhNumber)

</div>

<div class="form-group col-md-6">
    <label for="exampleInputEmail1">Email</label>
    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control input-sm", @placeholder = "Enter Email", @required = "required" })
    @Html.ValidationMessageFor(model => model.EmailId)

</div>

@*  <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker2" type="text" class="form-control input-small">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
            </span>
        </div>*@

<script type="text/javascript">
    $('#Meetingtime').timepicker({
        minuteStep: 1,
        template: 'dropdown',
        showSeconds: true,
        showMeridian: false,
        defaultTime: 'current'
    });

    $('.datepicker').datepicker({
        format: 'yyyy/mm/dd',
        "setDate": new Date(),
        "autoclose": true

    });
</script>

<div class="clearfix"></div>
@*<div class="form-group">
    <label class="col-lg-2 control-label">Date Picker</label>
    <div class="col-lg-10">
        <div class="input-group">
            <input type="text" value="06/10/2013" class="datepicker form-control">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <!-- /.col -->
</div>*@
<!-- /form-group -->
@*<div class="form-group">
    <label class="col-lg-2 control-label">Time Picker</label>
    <div class="col-lg-10">
        <div class="input-group bootstrap-timepicker">
            <input class="timepicker form-control" type="text" />
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
        </div>
    </div>
    <!-- /.col -->
</div>*@
<!-- /form-group -->



















